@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

.servicosAll {
    background-color: #EEEEEE;
}
.servicos {
    display: flex;
    justify-content:space-around;
    background-image: url(/Serviços/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}

.servicos img {
    width: 50%;
    max-width: 60vh;
    min-width: 40vh;

}

.oqueFazemos {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 7px solid #1D7263;
    box-shadow: #333333 0px 4px 14px -5px;
}


.oqueFazemos img {
    width: 30vh;
}

.oqueFazemos h2{
    text-align: center;
    margin-bottom: 6vh;
    font-size: 30px;
    font-family: 'Fraunces';
    color: #333333;
    font-weight: bold;
}

.oqueFazemos p{
    font-size: 25px;
}

.cardServicos {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

